django>=5.0
djangorestframework
python-decouple
dj_database_url
django-log-request-id
gunicorn
whitenoise
whitenoise[brotli]
psutil
ipython
django-js-reverse
requests
python-dateutil
django-crispy-forms
crispy-bootstrap5
pillow
click
django-allauth
django-recaptcha

# vite
django-vite==2.0.2

# celery
celery[redis]
celery-redbeat

# GCE
#google-api-python-client
#google-cloud-storage

# AI
#openai
#replicate

# Optional
# fabric>=2
# psycopg2-binary
