{% extends 'base.html' %}
{% load static %}

{% block title %}Project Name{% endblock %}

{% block description %}META DESCRIPTION{% endblock %}

{% block menu_home %}active{% endblock %}

{% block scripts %}
  <script>
    document.addEventListener("DOMContentLoaded", function(event) {
        const { React, ReactDOM, CreateOrderController } = window.mainModule;
        ReactDOM.render(
            React.createElement(CreateOrderController, {{react_props|safe}}),
            document.getElementById('react-app'),
        );
    });
  </script>
{% endblock %}

{% block page %}
  <div class="grad-bg">
    <div class="container col-xxl-8 px-4">
      <div class="row align-items-center g-3 py-lg-5">
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">
            <span class="text-primary">Here goes the main headline of the service</span>
          </h1>
          <p class="lead">
            subtitle line goes here
          </p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="{% url 'index' %}" type="button" class="btn btn-primary btn-lg px-4 me-md-2">Start Now</a>
          </div>
          <div class="mt-3 mb-3">
            <span class="text-muted">{{price|floatformat:2}}$ for initial order. One-time payment. No subscription.</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <div class="container col-xxl-8 px-4">
      <div class="row py-4">
        <div class="col-md-6">
          <h2 class="text-center mb-3 display-4">What It Is</h2>
          <p>If you see this page then you suncessfully instantiated a new project from project template. Now you can start modifying it. </p>

          <p>Do not forget to adjust website name and other parameters for your custom needs.</p>
        </div>
        <div class="col-md-6">
          <h2 class="text-center mb-3 display-4">What to do next</h2>
          <ul>
            <li class="my-2">run <code>docker exec projectname_web python manage.py migrate</code> template</li>
            <li class="my-2">Update <code>base.html</code> template</li>
            <li class="my-2">Take a look at django settings</li>
            <li class="my-2">Update Terms of Service</li>
            <li class="my-2">Give a star to the project at GitHub :)</li>
            <li class="my-2">Happy hacking!</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container col-xxl-8 px-4">
    <h2>Make Order</h2>
    <div id="react-app">Application is loading. Please wait...</div>
  </div>

  <div class="bg-light bg-gradient">
    <div class="container col-xxl-8 px-4">
      <div class="row py-4">
        <div class="col">
          <h2 class="text-center mb-3 display-4">Frequently Asked Questions</h2>

          <h3 class="mt-3 mb-2">What is this?</h3>

          This is my new project. It was built by <a href="https://mylh.me" target="_b3lank">mylh</a>, an indie hacker and a software developer.

          <h3 class="mt-3 mb-2">How does it work?</h3>

          Lorem ipsum.

          <h3 class="mt-3 mb-2">Are my personal photos and information safe?</h3>

          Yes, your personal photos and information are safe. <strong>We take privacy seriously</strong> and use secure servers to protect your data.

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
