{% load django_vite static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}" >
    <meta name="theme-color" content="#0d6efd">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon"/>
    {% block social_meta %}
      <meta property="og:title" content=""/>
      <meta property="og:url" content="{{ BASE_URL }}/"/>
      <meta property="og:site_name" content="">
      <meta property="og:description" content=""/>
      <meta property="og:image" content="{{ BASE_URL }}{% static 'images/social_media.png' %}"/>
      <meta property="og:type" content="website"/>
      <meta property="og:updated_time" content="2022-11-17T00:00:00+00:00"/>
      <meta http-equiv="last-modified" content="2022-11-17T00:00:00+00:00"/>
      <meta name="last-modified" content="2022-11-17T00:00:00+00:00"/>
      <meta name="twitter:card" content="summary_large_image"/>
      <meta name="twitter:site" content="@xxxx"/>
      <meta name="twitter:creator" content="@xxxx"/>
      <meta name="twitter:title" content=""/>
      <meta name="twitter:description" content=""/>
      <meta name="twitter:image:src" content="{{ BASE_URL }}{% static 'images/social_media.png' %}"/>
      <meta name="twitter:url" content="{{ BASE_URL }}/"/>
    {% endblock %}

    <link rel="shortcut icon" href="#">
    {% if FRONTEND_USE_VITE %}
      <script type="module">
        import RefreshRuntime from '{{ VITE_SERVER_URL }}/static/@react-refresh';
        RefreshRuntime.injectIntoGlobalHook(window);
        window.$RefreshReg$ = () => {};
        window.$RefreshSig$ = () => (type) => type;
        window.__vite_plugin_react_preamble_installed__ = true;
      </script>
      {% vite_hmr_client %}
    {% else %}
      <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}"/>
    {% endif %}
    {% if not debug %}
      {# PUT LIVE SNIPPETS HERE #}
    {% endif %}
    {% block extra_head %}{% endblock %}
  </head>

  <body>
    {% block body %}
      <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-lg-4">
          <a href="{{ BASE_URL }}" class="d-flex align-items-center mb-3 pe-5 me-sm-3 me-md-auto text-dark text-decoration-none">
            <span class="fs-4"><strong>Project<span class="text-primary">Name</span></strong></span>
          </a>

          <ul class="nav nav-pills mb-3 ">
            <li class="nav-item"><a href="{% url 'index' %}" class="nav-link {% block menu_home_style %}{% endblock %}">Home</a></li>
          </ul>
        </header>
      </div>
      {% block page %}
        <div class="container">
          {% block content %}{% endblock %}
        </div>
      {% endblock %}

      <footer class="footer my-3 my-lg-4 text-center">
        <div class="container">
          <div class="row">
            <div class="col">
              &copy; {% now 'Y' %} ProjectName by <a target="_blank" href="https://mylh.me">mylh</a> / <a href="{% url 'terms' %}">Terms of Service</a> / <a href="{% url 'support' %}">Support</a> <br/>
              Follow us <a href="https://twitter.com/dima7" target="_blank"><i class="bi bi-twitter"></i> DimaS</a>
            </div>
          </div>
        </div>
      </footer>

    {% endblock %}
    <!-- django-js-reverse -->
    <script src="{% url 'js_reverse' %}" type="text/javascript"></script>
    {% if FRONTEND_USE_VITE %}
      {% vite_asset 'main.ts' %}
    {% else %}
      <script type="module" src="{% static 'main.js' %}"></script>
    {% endif %}
    {% block scripts %}{% endblock %}
  </body>
</html>
