DJANGO_SETTINGS_MODULE={{ app_name }}.settings.production
CELERY_BROKER_URL=redis://localhost:6379//
DATABASE_URL=sqlite:///{{ install_path }}/{{ django_root }}/db.sqlite3
DJANGO_SECRET_KEY="replace-with-some-secret-key"

# used in celery.service config file
CELERYD_LOGFILE={{ install_path }}/logs/celery/%n.log
CELERYD_PIDFILE={{ install_path }}/logs/celery/%n.pid


# PayPal REST API PROD credentials
PAYPAL_BUSINESS_ACCOUNT="paypal-test-account@yourdomain.com"
PAYPAL_CLIENTID="your-paypal-test-client-id"
PAYPAL_SECRET="your-paypal-test-rest-api-secret"

# SMTP
EMAIL_HOST="email-smtp.us-west-2.amazonaws.com"
EMAIL_HOST_PASSWORD="password"
EMAIL_HOST_USER="user"

# RECAPTCHA set up your site keys at https://www.google.com/recaptcha/admin/
RECAPTCHA_PRIVATE_KEY="ReCAPTCHA private key"
RECAPTCHA_PUBLIC_KEY="ReCAPTCHA public key"